<div class="margin light-background">
  <div class="cards-container">

    <a href="{{url_1}}">
    <div class="card-container">
      <div class="screen">
        <div class="screen-image" [style.background-image]="'url(' + backgroundImage1 + ')'"></div>
        <div class="screen-overlay"></div>
        <div class="screen-inner-border"></div>
        <div class="screen-content">
          <div class="screen-user">
            <span class="name" data-value="CODEPEN">Art</span>
          </div>
        </div>
      </div>
    </div>
    </a>


    <a href="{{url_2}}">
    <div class="card-container">

      <div class="screen">

        <div class="screen-image" [style.background-image]="'url(' + backgroundImage2 + ')'"></div>
        <div class="screen-overlay"></div>
        <div class="screen-inner-border"></div>
        <div class="screen-content">
          <div class="screen-user">
            <span class="name" data-value="CODEPEN">Code</span>
          </div>
        </div>
      </div>
    </div>
    </a>
    <a href="{{url_3}}">
    <div class="card-container">
    <div class="screen">
      <div class="screen-image" [style.background-image]="'url(' + backgroundImage3 + ')'"></div>
      <div class="screen-overlay"></div>
      <div class="screen-inner-border"></div>
      <div class="screen-content">
        <div class="screen-user">
          <span class="name" data-value="CODEPEN">3D_art</span>
          </div>
        </div>
      </div>
      </div>
    </a>
  </div>
</div>
<!--<a class="link" href="https://youtube.com/@Hyperplexed" target="_blank"> inspired by @Hyperplexed</a>
-->

