.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--primary-color);
  padding: 5px 5vw;

}
@media screen and (max-width:550px) {
  .container{
    display:block;
  }


}

