.margin{
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.6);
}

.cards-container {
  display: grid;
  gap: 1.5rem;
  margin-inline: auto;
  overflow: auto;

}

.cards-container.left-main {
  grid-template-columns: 60fr 40fr;
}

.cards-container.right-main {
  grid-template-columns: 40fr 60fr;
}

img {
  width: 100%;
  border-radius: 20px;
}

@media screen and (max-width: 1000px){
  .cards-container{
    display: block;
  }
  .margin{
    padding: 2vh 5vw;
  }
}
