<div class="margin third_background">

  <h1 class="primary-text">IB learner profile</h1>
  <p> click on the tabs to see more</p>

  <app-ib [Items]="[
      { title: 'Inquirer', subtitle: 'Wonder and question', description: 'I often ponder about the things I learn and how they could be used. In my pondering I begin to inquire about it and if it is of interest to me I try to learn it.', color: '#0b959a' },
      { title: 'Knowledgeable', subtitle: 'Learn and understand', description: 'I have an interest in understanding the things happening around which leads me to learn a lot of stuff e. g. programing, 3D etc. I also have learned a lot by signing up for competitions in science and learning or reading preparation texts.', color: '#be4cc2' },
      { title: 'Thinker', subtitle: 'Contemplate and ponder', description: 'I often think of something and have a need to do it or do it better than just accept it as it is. For example I had a homework from math and I completed the solution on 1.5 page, but I looked back at it and thought it shouldn\'t need to be so long and found a better one.\n', color: '#e7c331' },
      { title: 'Communicator', subtitle: 'Express your thoughts and listen to others', description: 'This is the ability I am the most insecure about as I am scared to talk or I just dont have a topic that interest me to talk about with my peers', color: '#8e61b0' },
      { title: 'Balanced', subtitle: 'Create time for different interests', description: 'I wouldn\'t a call myself as balanced, I am a person with the most interest in technology, engineering, programing, on the other hand I also enjoy making art and learning new things ', color: '#a7da6f' },
      { title: 'Caring', subtitle: 'Show kindness', description: 'I dont know what to write I guess I am caring.', color: '#e19090' },
      { title: 'Risk-Taker', subtitle: 'Try new experiences', description: 'I like to try new things.', color: '#578bd9' },
      { title: 'Reflective', subtitle: 'Think back', description: 'I look back regularly to see the progress I made and remember the mistakes so I dont do them again, however sometimes it is good to point out the mistake I made/am making straight to my face so I can reflect on evaluate what I did wrong.', color: '#03dac6' },
      { title: 'Principled', subtitle: 'Be honest and true', description: 'I like to stick by the rules and to not lie if I dont have to.', color: '#deba8a' },
      { title: 'Open-Minded', subtitle: 'Take on new perspective', description: 'I take on new perspective every day I learn something new and change my opinion', color: '#d2e4e7' },
  ]"/>

</div>
