<div class="margin third_background">


  <div class="warning">
    <h1>Working on this</h1>
    <img src="assets/warning.png">
  </div>


  <h1>IB learning profile</h1>
  <div class="container ">

    <div class="item-1 cards_item">
      <h2 class="middle"> Inquirer</h2>
      <p>weaewaeafr</p>
    </div>

    <div class="item-2 cards_item">
      <h2 class="middle"> Knowledgable</h2>
      <p>aweaweaw</p>
    </div>

    <div class="item-3 cards_item">
      <h2 class="middle"> Thinker</h2>
    </div>

    <div class="item-4 cards_item">
      <h2 class="middle"> Communicator</h2>
    </div>

    <div class="item-5 cards_item">
      <h2 class="middle"> Balanced</h2>
    </div>

    <div class="item-6 cards_item">
      <h2 class="middle"> Caring</h2>
    </div>

    <div class="item-7 cards_item">
      <h2 class="middle"> Risk-Taker</h2>
      <p>wdawedawewqeae</p>
    </div>

    <div class="item-8 cards_item">
      <h2 class="middle"> Reflective</h2>
    </div>

    <div class="item-9 cards_item">
      <h2 class="middle"> Principled</h2>
    </div>

    <div class="item-10 cards_item">
      <h2 class="middle"> Open-Minded</h2>
    </div>

  </div>
</div>

