.wrap{



  padding: 2vh 9vw 3vh;
  background-color: var(--color-light);
}

img{
  max-height: 10vh;
}
/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.follow-me{
  display: flex;
  margin-left: 50%;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;

}

img {
  max-height: 500px;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: var(--color-dark);
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 20px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}
a{
  text-decoration: none;

}
.cards {

  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {

  display: flex;
  padding: 0.5rem;
  transition: 0.4s;
}
.cards_item:hover {
  transition: 0.5s;
  scale: 105%;
}


@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {

  border-radius: 20px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {

  padding: 1rem;
  background: linear-gradient(to bottom left, #efb38d 40%, #c59e8a 100%);
}

.card_title {

  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.card_text {
  color: var(--color-dark);
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 400;
}

