<div class="wrap">
<h1 class="text-primary">My work</h1>

  <ul class="cards">


    <li class="cards_item">
      <a href="{{link_1}}">
      <div class="card">
        <div class="card_image"><img src="assets/art_img.jpg"></div>
       <div class="card_content">
        <h2 class="card_title text-primary">Art</h2>
        <p class="card_text">Showcase of 2D art works </p>
        <button class="btn card_btn">{{click}}</button>
      </div>
    </div>
        </a>
  </li>
  <li class="cards_item">
    <a href="{{link_2}}">
    <div class="card">
      <div class="card_image"><img src="assets/code_img.jpg"></div>
      <div class="card_content">
        <h2  class="text-primary card_title">Code</h2>
        <p class="card_text">Here you can find all the websites inner and outer workings and other project and versions of this website</p>
        <button class="btn card_btn">{{click}}</button>
      </div>

    </div>
    </a>

  </li>
  <li class="cards_item">
    <a href="{{link_3}}">
    <div class="card">
      <div class="card_image"><img src="assets/3D_art.jpg"></div>
      <div class="card_content">
        <h2 class="text-primary card_title">3D art</h2>
        <p class="card_text">Showcase of 3D art works</p>
        <button class="btn card_btn">{{click}}</button>
      </div>
    </div>
    </a>
  </li>


 </ul>
</div>

