<div class="margin third_background">


  <div class="warning">
    <h1>Working on this</h1>
    <img src="assets/warning.png">
  </div>


  <h1>IB learning profile</h1>

  <app-ib [Items]="[
      { title: 'Inquirer', subtitle: 'Wonder and question', description: 'weawe', color: '#0b959a' },
      { title: 'Knowledgable', subtitle: 'Learn and understand', description: 'eawegr', color: '#be4cc2' },
      { title: 'Thinker', subtitle: 'Contemplate and ponder', description: 'help', color: '#e7c331' },
      { title: 'Communicator', subtitle: 'Express your thoughts and listen to others', description: '', color: '#8e61b0' },
      { title: 'Balanced', subtitle: 'Create time for different interests', description: 'resrse', color: '#a7da6f' },
      { title: 'Caring', subtitle: 'Show kindness', description: '', color: '#e19090' },
      { title: 'Risk-Taker', subtitle: 'Try new experiences', description: '', color: '#578bd9' },
      { title: 'Reflective', subtitle: 'Think back', description: '', color: '#03dac6' },
      { title: 'Principled', subtitle: 'Be honest and true', description: '', color: '#deba8a' },
      { title: 'Open-Minded', subtitle: 'Take on new perspective', description: '', color: '#d2e4e7' },
  ]"/>

</div>
