.container{

  display: grid;
  grid-template-columns: repeat(5, 1fr);

}
.item-1{
  background-color: #0b959a;
}
.item-2{
  background-color: #be4cc2;
}
.item-3{
  background-color: #e7c331;
}
.item-4{
  background-color: #8e61b0;
}
.item-5{
  background-color: #a7da6f;
}
.item-6{
  background-color: #e19090;
}
.item-7{
  background-color: #578bd9;
}
.item-8{
  background-color: #03dac6;
}
.item-9{
  background-color: #deba8a;
}
.item-10{
  background-color: #d2e4e7;
}
.cards_item:hover {
  transition: 0.5s;
  scale: 101%;
}
.middle{
  text-align: center;
}

@media screen and (max-width: 1000px){
  .container{
    grid-template-columns: repeat(2,1fr);
  }

}


