

.margin{
  box-shadow:  0 0 50px 10px rgba(44, 44, 44, 0.37);
}

.image-container {
  display: grid;
  gap: 1.5rem;
  margin-inline: auto;
  overflow: auto;

}

.image-container.left-main {
  grid-template-columns: 60fr 40fr;
}

.image-container.right-main {
  grid-template-columns: 40fr 60fr;
}

img {
  width: 100%;
  border-radius: 20px;
}

@media screen and (max-width: 1000px){
  .image-container{
    display: block;
  }
  .margin{
    padding: 2vh 5vw;
  }
}
