.left{
float: right;
}

img {
  width: 100%;
  border-radius: 20px;
}

img.smaller {
  width: 20vw;
}

@media screen and (max-width: 1000px) {
  img.smaller {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
