<div *ngIf="post$ | async; let post">
  <div class="{{post?.color}}-background-reverse margin">
    <h1 class="title "><a class="btn" routerLink="/blog">My Blog</a> > {{post?.title}}</h1>
  </div>
  <two-column color="{{post?.color}}" [main_side]="post?.side ?? 'right'">
    <ng-container main>
      <p class="main-image">{{post?.content}}</p>
      <p *ngIf="post?.link">
        <a [href]="post?.link" target="_blank" rel="noopener noreferrer">{{post?.link}}</a>
      </p>
    </ng-container>
    <ng-container supplement>
      <div class="main-image">
        <img [src]="post?.image" alt="Image for blog named {{post?.title}}" />
      </div>
    </ng-container>
  </two-column>
</div>
