.title{
  margin: 0;
  padding: 20px 0;

}
.center{
  padding: 0 10vw;
  align-content: center;
}


.main-image > img {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .center {
    padding: 0 5vw;
  }
  .main-image{
    width: 100%;
  }
}
