<div class="container">
  <div class="item item-1">
    <h1>About me</h1>
    <p>I am a student a middle school student that is fascinated by space and its industry, a programmer and an 2D and 3D artist,
      What can I do?
      I am  mostly a self taught programmer and do some basic programming I can do websites that download from databases a simple games without a game engine, or just whatever my mind wanders to do bee it physics calculation or a script to generate object in 3D environments.
    </p>
  </div>
  <div class="item item-2">
    <img src="assets/About_me_photo.jpg">
  </div>
</div>

