.image{
  width: 100%;
  height: 100%;
}

.box-filter{
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 4vh 0;
  grid-gap: 20px;
}
.filter {
  background: #eee;
  border-radius: 6px 0 0 6px;
  color: #999;
  display: inline-block;
  height: 52px;
  line-height: 52px;
  padding: 0 20px 0 23px;
  position: relative;
text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.filter::before {
  background: #fff;
  border-radius: 20px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 24px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 15px;
}

.filter::after {
  background: var(--color-light);
  border-bottom: 26px solid transparent;
  border-left: 20px solid #eee;
  border-top: 26px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}


.band {
  width: 90%;
  padding: 5vh 0;
  margin: 0 auto;
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;

  @media (min-width: 30em) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 60em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  border-radius: 5px;
  background: #fdfafa;
  text-align:center;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;

  position: relative;
  top: 0;
  transition: all .1s ease-in;

  &:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  }

  .thumb {
    padding-bottom: 5%;
    background-size: cover;
    background-position: center center;
  }
}

.left-hang{
  margin:0 20px 0 10px;
  align-self: start;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fdfafa;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover , .filter:hover{
  background-color: crimson;
  color: white;
}

.tag:hover::after ,.filter:hover::after {
  border-left-color: crimson;
}
